<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="login()">
    <label for="correoElectronico">Correo electrónico</label>
    <input id="correoElectronico" [(ngModel)]="usuario.correoElectronico" name="correoElectronico" type="email" required>

    <label for="contrasena">Contraseña</label>
    <input id="contrasena" type="password" [(ngModel)]="usuario.contrasena" name="contrasena" required>

    <div class="recuerdame">
      <label>
        <input type="checkbox"> Recordar contraseña
      </label>
      <a href="#">Olvidé mi contraseña</a>
    </div>

    <button type="submit">Iniciar sesión</button>
  </form>
</div>
